<!-- Header-->
<header class="py-5">
    <div class="container px-4">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xxl-12">
                <!--<div class="text-center my-5">-->
                    <h1 class="fw-bolder mb-3">"It's not wise to violate rules until you know how to observe them."</h1>
                    <p class="lead fw-normal text-muted mb-4">Welcome to Hayat educare, a very professional and dedicated EdTechplatform. We're dedicated to giving you the very best of Academic, with a focus on dependability, customer service and uniqueness.</p>
                    <p class="lead fw-normal text-muted mb-4">Founded in 2018 by Mr. Ajaj Shaikh, Hayat educare has come a long way from its beginnings in a home office. When Mr. Ajaj Shaikh first started out, his passion for helping other parents in finance and Children’s be more convenient in their studies, providing the best option and guidelines which drove him to do intense research, quit his day job, and gave him the impetus to turn hard work and inspiration into to a booming online Education. We now serve Students all over in India, and are thrilled to be a part of the online Studies wing of the EdTech industry</p>
                    <p class="lead fw-normal text-muted mb-4">We hope you enjoy our Studies pattern as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us. <br>- Sincerely, <strong>Ajaj Shaikh</strong></p>
                    
               <!-- </div>-->
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/mission.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <h2 class="fw-bolder">Our Mission</h2>
                <p class="lead fw-normal text-muted mb-0">Our dynamic team serves the college community by providing training, research, and flexible support services. Through creative problem solving, collaboration, and reflection we provide an environment for growth in teaching and learning to best support our students, faculty, and staff. </p>
                <p class="lead fw-normal text-muted mb-0">H-Educare is dedicated to supporting faculty, contributing to teaching excellence, and enhancing student success through exemplary instructional design, effective application, and integration of instructional technologies.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/vision.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <h2 class="fw-bolder">Our Vision</h2>
                <p class="lead fw-normal text-muted mb-0">H-Educare inspires community engagement and inclusive learning environments through the use of emerging technologies.</p>
                <p class="lead fw-normal text-muted mb-0">H-Educare E-Learning will be nationally recognized as a leader in the application of innovative instructional technologies that facilitate the next generation of teaching and learning.</p>
                <p class="lead fw-normal text-muted mb-0">We believe that learners can thrive in digital classrooms that are engaging, learning-focussed, and inclusive.</p>
                <p class="lead fw-normal text-muted mb-0">Being able to access learning the way you need it presented is a game-changer in education. The advent of H-Educare allows for any time, anywhere instruction, and it’s made available in any format.</p>
            </div>
        </div>
    </div>
</section>
<header class="py-5">
    <div class="container px-4">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xxl-12">
                <!--<div class="text-center my-5">-->
                    <h3 class="fw-bolder mb-3">Leadership</h3>
                    <p class="lead fw-normal text-muted mb-4">We are leading the development and delivery of innovative digital learning experiences.</p>
                    <h3 class="fw-bolder mb-3">Learning</h3>
					<p class="lead fw-normal text-muted mb-4">We are building the capacity of teachers and system leaders for the purposeful integration of teaching and learning with technology.</p>
					<h3 class="fw-bolder mb-3">Community</h3>
					<p class="lead fw-normal text-muted mb-4">We are fostering a digital community that engages everyone in continuous learning, communication and collaboration. </p>
               <!-- </div>-->
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        
           
            <div class="col-lg-12">
                <h2 class="fw-bolder">About Founder</h2><br/>
                <p class="lead fw-normal text-muted mb-0">Mr. Ajaj Shaikh had done his MMS from Sinhgad Institute of Business Management [SIBM], Mumbai. Specialized in Marketing had started his career from Internship project in jobber street than the way go on to Absion Marcom pvt ltd. </p>
                <br/><p class="lead fw-normal text-muted mb-0">Than he turned to EdTech and started to work for Toppr, Meritnation and Extra marks. Also he had done Survey on Marketing project for the same.	 </p>
              <br/>  <p class="lead fw-normal text-muted mb-0"> Than he took a decision to start his own EdTech platform were he can serve more dedication and quality to every student even he is from poor family.</p>
               <br/> <p class="lead fw-normal text-muted mb-0">Now he is with us, with his pure and clean dream to Educate to every student and create a strong back bone for INDIA. </p>
                <br/><p class="lead fw-normal text-muted mb-0">Thanks a lot Mr. Ajaj Shaikh for wonderful thought. </p>
               
			   </div>
       
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerm.png" alt="..." />
                    <h5 class="fw-bolder">Samad Shaikh</h5>
                    <div class="fst-italic text-muted">B.E & M.E</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerm.png" alt="..." />
                    <h5 class="fw-bolder">Faiyaz Shaikh</h5>
                    <div class="fst-italic text-muted">B.E</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerf.png" alt="..." />
                    <h5 class="fw-bolder">Rukhsar Shaikh</h5>
                    <div class="fst-italic text-muted">MSc. & D.Pharm</div>
                </div>
            </div>
           
        </div>
    </div>
	 <div class="container px-5 my-5">
        
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerf.png" alt="..." />
                    <h5 class="fw-bolder">Dr Afreen Khan</h5>
                    <div class="fst-italic text-muted">B.U.M.S</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerf.png" alt="..." />
                    <h5 class="fw-bolder">Khan Nushra</h5>
                    <div class="fst-italic text-muted">C.A</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-3 px-3" src="/assets/lecturerf.png" alt="..." />
                    <h5 class="fw-bolder">Dr Rajeshwari Jadhav</h5>
                    <div class="fst-italic text-muted">B.U.M.S</div>
                </div>
            </div>
           
        </div>
    </div>
</section>