<!--
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
-->
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login for learning</h3>
                    <div class="alert alert-danger" role="alert" [hidden]="!error" style="text-align: center;width: 50%;
                   
                    margin: 3% 24% 0% 24%;
                    color: darkred;
                    font-size: 90%;">
                       {{errorMsg}}
                    </div>
                    <div *ngIf="globalLogoutMsg == true" style="margin-left: 31%; margin-top: 1%;"><button class="btn btn-danger" (click)="logoutFromAllDevices()">Logout from all devices</button></div>
                  
                      
                    <form (ngSubmit)="loginClick()" ngNativeValidate>
                        <div class="form-group">
                            <input type="text" autocomplete="off"  class="form-control" name="username" [(ngModel)]="student.studentUsername" placeholder="Your Username *" value="" style="margin-bottom: 2%;" required="true"/>
                        </div>
                        <div class="form-group">
                            <input type="password" autocomplete="off" class="form-control" name="password" [(ngModel)]="student.studentPassword"  placeholder="Your Password *" value="" style="margin-bottom: 2%;" required="true"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" style="margin-bottom: 2%;"/>
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forgot Password?</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                   
                    <h3>Welcome to Hayat Educare</h3>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <p style="margin-top: 5px; color:white;">Didn't have account? <a [routerLink]="['/signup']" style="color: #f9e603;">Sign up</a>  here!</p>
                        </div>
                        <div class="col-sm-6">
                            <img src="/assets/login_f.png" alt="" width="300" height="250"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
   
