
<!--
<div class="container">

<div>
    <h3>Physics</h3>
</div>

<ul class="list-unstyled video-list-thumbs row" style="display: block;">
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
</ul>

</div>

-->



<div class="container-fluid">    
  <div class="row content">
    
    <div class="col-sm-8 text-left"> 
      <br>
      <h2>English - Lecture 1</h2>
      <hr>
      
      <div class="embed-responsive embed-responsive-16by9" style="height: 100%;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NNamZZsggM4" style="width: 100%; height: 110%;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-4 sidenav">

        <ul class="list-unstyled video-list-thumbs row" style="display: block; margin-top: 20px;">
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                    <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">03:15</span>
                </a>
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                    <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">03:15</span>
                </a>
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                    <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">03:15</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                    <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">03:15</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                    <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">03:15</span>
                </a>
            </li>
        </ul>
    </div>
  </div>
</div>

