
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <strong>Assign Teachers to Courses</strong>
      </div>
    </div>

    <div class="col-md-3" (click)="gotoPath('resolveDoubts')">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <strong>Resolve Doubts</strong>
        </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <strong>Register Teacher </strong>
     </div>
    </div>

    <div class="col-md-3">  
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <strong>Add Course Contents</strong>
      </div>
    </div>
  </div>
</div>
