<!-- Header-->
<header class="py-5" style="height: 400px;">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder mb-2">Discover a new way of learning</h1>
                  <p class="lead fw-normal mb-4">We build you future right here and not just teach you but educate!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" [routerLink]="['signup']">Get Started</a>
                      
                  </div>
                  
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="assets/webcons/home1.png" alt="..." /></div>
      </div>
  </div>
</header>
 
<section class="py-5 bg-light" id="scroll-target" >
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4"><img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/e-learning-removebg-preview.png" alt="..." /></div>
            <div class="col-lg-8">
                <h5 class="fw-bolder">India's most loved</h5>
                <h2 class="fw-bolder">Live Online Tuitions/Classes.</h2>
				<h5 class="fw-bolder">Trusted by school students since 2018</h5>
				
					> Interactive classes with the best teachers<br/>
					> Concept videos, Interactive games & downloadable revision notes<br/>
					> Chapter tests, sample papers, board papers and smart reports<br/>
					> 24X7 doubt resolution with experts via chat<br/>
					> Unlimited Doubts Asking by connecting with teacher on video call<br/>
					> Ask anytime, anywhere! We are available on chat from 8 am to 12 pm to solve your doubts instantly.<br/>
			
					
				</div>
        </div>
    </div>
</section> 

<section class="py-5" style="margin-bottom: -10%;">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content">
              <div class="col-lg-8 col-xl-6">
                  <div>
                      <h2 class="fw-bolder">Powerful Online Tuitions</h2>
                      <p class="lead fw-normal text-muted mb-5">Designed for excellence!</p>
                  </div>
              </div>
          </div>
          <div class="row gx-5">
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/po1.png" alt="Card image cap">
                   
                    <!--<h2 style="background-color: #287cf6; color : white; text-align : center;font-weight: bolder;"> Class 11th </h2>
                      <div class="card-body p-4">
                         
                          <a class="text-decoration-none link-dark stretched-link" routerLink="/showcase"><h5 class="card-title mb-3">11th Science</h5></a>
                          <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div> -->
                      <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                        <h5 class="card-title">Build a strong Conceptual Foundation</h5>
                     </div>
                   
                     
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="/assets/po2.png" alt="Card image cap">
                    <!--<h2 style="background-color: #287cf6; color : white; text-align : center; font-weight: bolder;"> Class 12th </h2>
                    
                        <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                            <h5 class="card-title" style="margin-top: 10%;">Commerce</h5>
                       
                        <!--  
                          <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">12th Science</h5></a>
                          <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        -->
						<div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                        <h5 class="card-title">Ace every exam in your school</h5>
                     </div>
                       </div>
                     
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                      <!-- <h2 style="background-color: #287cf6; color : white; text-align : center; font-weight: bolder;"> 11th + 12th + JEE </h2>
                      -->
                      <img class="card-img-top" src="/assets/po3.png" alt="Card image cap">
                      <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                          
                      <!--    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">11th Science - 12th Science & JEE </h5></a>
                          <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                      -->
                      <h5 class="card-title">Get help in homework</h5>
                      
                      </div>
                                         
                  </div>
              </div>
			  <p class="lead fw-normal text-muted mb-5">H-Educare unique blend of features developed after years of research, to help you excel Live Online Classes!</p>
          </div>
        
      </div>
  </section>

  <!-- Features section-->
  <section class="py-5" id="features">
      <div class="container px-5 my-5">
          <div class="row gx-5">
              <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start learning.</h2>
              <img class="rounded-3" src="/assets/webcons/home2.png" style="width: 125%; margin-left: -15%"/>
              </div>
              <div class="col-lg-8">
                  <div class="row gx-5 row-cols-1 row-cols-md-2">
                      <div class="col mb-5 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-book-fill"></i></div>
                          <h2 class="h5">Concept Teaching</h2>
                          <p class="mb-0">We provide live concepts for subject by India's best Teachers. We give interesting visualisations to provide maximum understanding of subject.</p>
                      </div>
                      <div class="col mb-5 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calculator-fill"></i></div>
                          <h2 class="h5">Problem Solving</h2>
                          <p class="mb-0">All tips & triks to solve problem quickly will be taught. We provide comprehensive study materials and handpicked questions by experts to practice.</p>
                      </div>
                      <div class="col mb-5 mb-md-0 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-hand-index-thumb-fill"></i></div>
                          <h2 class="h5">Doubt Discussion</h2>
                          <p class="mb-0">Interact with experts and ask unlimited doubts. We provide 100% doubt clarity and assured concept learning.</p>
                      </div>
                      <div class="col h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-data"></i></div>
                          <h2 class="h5">Quiz and Leaderboard</h2>
                          <p class="mb-0">Learn best in a peer learning environment with live quizes and leaderboard. We have real-time assessment for yout performance.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Testimonial section-->
  <div class="py-5 bg-light">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-10 col-xl-7">
                  <div class="text-center">
                      <div class="fs-4 mb-4 fst-italic">"Education is a passport to the future, for tommorrow belong to those who prepare for it today!"</div>
                      <div class="d-flex align-items-center justify-content-center">
                          <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                          <div class="fw-bold">
                              Ajaj Shaikh
                              <span class="fw-bold text-primary mx-1">/</span>
                              CEO, HayatEducare
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Blog preview section-->
  <section class="py-5">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                  <div class="text-center">
                      <h2 class="fw-bolder">Our Featured Course</h2>
                      <p class="lead fw-normal text-muted mb-5">We provide something extra always to keep you ahead of others!</p>
                  </div>
              </div>
          </div>
          <div class="row gx-5">
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="/assets/webcons/sci.png" alt="Card image cap">
                   
                    <!--<h2 style="background-color: #287cf6; color : white; text-align : center;font-weight: bolder;"> Class 11th </h2>
                      <div class="card-body p-4">
                         
                          <a class="text-decoration-none link-dark stretched-link" routerLink="/showcase"><h5 class="card-title mb-3">11th Science</h5></a>
                          <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div> -->
                      <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                        <h5 class="card-title">Science</h5>
                     </div>
                     <div class="card-footer">
                        <button class="btn btn-primary" (click)="goToShowcase('sci')">Learn More</button>
                      </div>
                     
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="/assets/webcons/comm.png" alt="Card image cap">
                    <!--<h2 style="background-color: #287cf6; color : white; text-align : center; font-weight: bolder;"> Class 12th </h2>
                    -->
                        <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                            <h5 class="card-title" style="margin-top: 10%;">Commerce</h5>
                       
                        <!--  
                          <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">12th Science</h5></a>
                          <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        -->
                       </div>
                       <div class="card-footer">
                        <button class="btn btn-primary" (click)="goToShowcase('com')">Learn More</button>
                      </div>
                     
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                      <!-- <h2 style="background-color: #287cf6; color : white; text-align : center; font-weight: bolder;"> 11th + 12th + JEE </h2>
                      -->
                      <img class="card-img-top" src="/assets/webcons/comp.png" alt="Card image cap">
                      <div class="card-body p-4" style="text-align:center; margin-top: 10%;">
                          
                      <!--    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">11th Science - 12th Science & JEE </h5></a>
                          <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                      -->
                      <h5 class="card-title">Competetive Exams</h5>
                      
                      </div>
                      <div class="card-footer">
                        <button class="btn btn-primary" (click)="goToShowcase('exa')">Learn More</button>
                      </div>
                      
                  </div>
              </div>
          </div>
         <a [routerLink]="['signup']">Sign up to see more --> </a>
      </div>
  </section>
