<style>
  .btn-primary {
    color: #fff !important;
    background-color: #4472b7 !important;
    border-color: #0d6efd !important;
    border-radius: 1.5rem;
}

</style>

<br>
<div class="jumbotron" style="margin-left: 15%;">
  <h1 class="display-4">Hello, buddy!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4" style="width: 85%;">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<br>
<div class="row" style="margin-left: 14%;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" style="background-color: #a9c7dc;">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" style="background-color: #a9c7dc;">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>