<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
           
            <img src="/assets/hayat_logo.png" style="margin-left: -20%;">
        </div>
        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            </div>
            <h3>Login Form 2</h3>
            <form (ngSubmit)="adminLogin()" ngValidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Username *" value=""  name="teacherUsername" [(ngModel)]="teacher.teacherUsername"/>
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" name="teacherPassword" [(ngModel)]="teacher.teacherPassword"/>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
               
            </form>
        </div>
    </div>
</div>