<style>
    .btn-primary {
      color: #fff !important;
      background-color: #4472b7 !important;
      border-color: #0d6efd !important;
  }
  
  </style>
<br><br>
<div class="row" style="margin-left: 10px;">
    
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/phy.jpeg" alt="Card image cap" width="250" height="150">
            <div class="card-body">
              <h5 class="card-title">Physics</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="playlist" class="btn btn-primary">Start Learning</a>
            </div>
          </div>
    </div>

    
    
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/math.jpeg" alt="Card image cap" width="250" height="150">
            <div class="card-body">
              <h5 class="card-title">Maths</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="playlist" class="btn btn-primary">Start Learning</a>
            </div>
          </div>
    </div>

  

  
</div>